In [ ]:
#sriya kolluru
## 25070123130
experiment 6

**Experiment**-6
Title- Study of conditional statements in python

In [ ]:
#1.a Check wether a number is positive,begative,or zero
num = int(input("enter a number:"))

enter a number:7

In [ ]:
#1.a Check wether a number is positive,begative,or zero
num = int(input("enter a number:"))
if num > 0:
  print("positive number")
elif num < 0:
  print("negative")
else:
       print("Zero")

enter a number:6
positive number

In [ ]:
#2. check whether a number is even or odd
num=int(input("enter a number:"))
if num % 2 ==0:
    print("Even")
else:
    print("odd")

enter a number:3
odd

In [ ]:
#3.To find the largest of 3 numbers A,B,C.
a = int(input("enter a number:"))
b = int(input("enter a number:"))
c = int(input("enter a number: "))
if a>b and a>=c:
  print("largest:",a)
elif b>=a and b>=c:
  print("largest:",b)
else:
    print("largest:",c)

enter a number:4
enter a number:5
enter a number: 9
largest: 9

In [ ]:
#4.create program too find marks.
marks = int(input("enter marks:"))
if marks >= 90:
  print("Grade A")
elif marks >= 80:
  print("Grade B")
elif marks >= 60:
  print("Grade C")
elif marks >= 40:
  print("Grade D")
else:
  print("fail")

enter marks:88
Grade B

In [ ]:
#5. Check whether a year,is a leap year

year = int(input("enter the year"))
if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
       print("leap year")
else:
       print("Not a leap year")

enter the year2019
Not a leap year

In [ ]:
#.6from datetime import datetime, timedelta


# Get the initial date from user input
date_str = input("Enter a date (YYYY-MM-DD): ")
initial_date = datetime.strptime(date_str, "%Y-%m-%d")

# Get the number of days to increment
days_to_add = int(input("Enter the number of days to increment: "))

# Increment the date
new_date = initial_date + timedelta(days=days_to_add)

print(f"Original date: {initial_date.strftime('%Y-%m-%d')}")
print(f"New date after incrementing by {days_to_add} days: {new_date.strftime('%Y-%m-%d')}")

Enter a date (YYYY-MM-DD): 2007-04-02
Enter the number of days to increment: 1
Original date: 2007-04-02
New date after incrementing by 1 days: 2007-04-03

In [ ]:
# Check whether a character is vowel or consonant

ch = input("Enter a character: ")

if ch in 'aeiouAEIOU':
    print("Vowel")
else:
    print("Consonant")

Enter a character: g
Consonant

In [ ]:
'''Problem Statement:
Write a Python program to calculate the gross salary of an employee
if basic  10000: HRA <=20%, DA =80%
if basic  20000: HRA <=25%, DA =90%
Otherwise:HRA

In [ ]:
basic = float(input("Enter basic salary: "))

if basic <= 10000:
    hra = basic * 0.20
    da = basic * 0.80
elif basic <= 20000:
    hra = basic * 0.25
    da = basic * 0.90
else:
    hra = basic * 0.30
    da = basic * 0.95

gross_salary = basic + hra + da

print("HRA:", hra)
print("DA:", da)
print("Gross Salary:", gross_salary)

Enter basic salary: 20000
HRA: 5000.0
DA: 18000.0
Gross Salary: 43000.0

Q10. Write a Python program to calculate income tax based on annual income:

Up to ₹2,50,000 : No tax

₹2,50,001 - ₹5,00,000 : 5%

₹5,00,001 - ₹10,00,000 : 20%

Above ₹10,00,000 : 30%


income = float(input("Enter annual income: "))

In [ ]:
income = float(input("Enter annual income: "))

if income <= 250000:
    tax = 0

elif income <= 500000:
    tax = (income - 250000) * 0.05

elif income <= 1000000:
    tax = (250000 * 0.05) + (income - 500000) * 0.20

else:
    tax = (250000 * 0.05) + (500000 * 0.20) + (income - 1000000) * 0.30

print("Income Tax =", tax)

Enter annual income: 700000
Income Tax = 52500.0

In [ ]:
mm = int(input("Enter month: "))
yy = int(input("Enter year: "))

if mm == 1 or mm == 3 or mm == 5 or mm == 7 or mm == 8 or mm == 10 or mm == 12:
    max1 = 31

elif mm == 4 or mm == 6 or mm == 9 or mm == 11:
    max1 = 30

elif mm == 2:
    if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
        max1 = 29
    else:
        max1 = 28

else:
    print("Date is invalid.")
    max1 = None

if mm < 1 or mm > 12:
    print("Date is invalid.")
else:
    dd = int(input("Enter day: "))
    if dd < 1 or dd > max1:
        print("Date is invalid.")
    else:
        print("Date is valid.")

Enter month: 04
Enter year: 2007
Enter day: 02
Date is valid.

In [ ]:
print("Incremented Date if it is valid")

date = input("Enter the date in format (dd/mm/yyyy): ")
dd, mm, yy = map(int, date.split("/"))

# Find maximum days in the month
if mm == 1 or mm == 3 or mm == 5 or mm == 7 or mm == 8 or mm == 10 or mm == 12:
    max1 = 31

elif mm == 4 or mm == 6 or mm == 9 or mm == 11:
    max1 = 30

elif mm == 2:
    if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
        max1 = 29
    else:
        max1 = 28

else:
    print("Date is invalid")
    exit()

# Validate date
if mm < 1 or mm > 12:
    print("Date is invalid")

elif dd < 1 or dd > max1:
    print("Date is invalid")

# Increment date
elif dd == max1 and mm != 12:
    dd = 1
    mm = mm + 1
    print("The incremented date is:", dd, mm, yy)

elif dd == 31 and mm == 12:
    dd = 1
    mm = 1
    yy = yy + 1
    print("The incremented date is:", dd, mm, yy)

else:
    dd = dd + 1
    print("The incremented date is:", dd, mm, yy)

Incremented Date if it is valid
Enter the date in format (dd/mm/yyyy): 02/04/2007
The incremented date is: 3 4 2007